.tms-calendar.react-calendar {
    width: 200px;
    line-height: 4px;
    border-radius : 5px ;
    border: none;
    box-shadow: 0px 0px 3px 3px #EBEBEB;
  }
  .tms-calendar .react-calendar__tile--active{
    line-height: 5px;
    font-size: 15px;
  }
  // .uda-calendar.react-calendar__tile--now {
  //   background: #ffff76;
  //   border-radius: 100%;
  // }
  .tms-calendar .react-calendar__tile {
    max-width: 100%;
    padding: 18px ;
    background: none;
    text-align: center;
    line-height: 12px;
  }
  .tms-calendar  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .tms-calendar  .react-calendar__tile--now {
    background: #006edc;
    border-radius: 100%;
  }
  // .uda-calendar  .react-calendar__month-view__weekdays {
  //   text-align: center;
  //   font-weight: bold;
  //   font-size: 0.75em;
  // }
  // .uda-calendar .react-calendar__month-view__weekdays__weekday {
  //   padding: 0.5em;
  
  // }
  .react-calendar__navigation{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
  }
  button.react-calendar__navigation__label{
    justify-items: start;
    text-align: start;
    font-weight: 100 !important;
    color: black;
    font-size: 18px;
    order: 1;
  }
  
  button.react-calendar__navigation__label:hover{
    
    background-color: white !important;
  }
  .react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
    padding: 5px;
  }
  
  
  button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button{
    order: 2;
    color: black;
    font-weight: 600 !important;
  }
  button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button :hover{
    background: white;
  }
  button.react-calendar__navigation__arrow.react-calendar__navigation__next-button{
    order: 3;
    color: black;
    font-weight: 600 !important;
  }
  button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
    display: none;
  }
  button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    display: none;
  }
  
  button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  button.react-calendar__tile.react-calendar__month-view__days__day{
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .react-calendar__month-view{
    padding: 5px;
  }
  .react-calendar__navigation{
    margin-bottom: 10px;
  }
  
  .react-calendar__month-view__weekdays__weekday--weekend{
    color: red;
   
  }
  .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    font-size: 12px;
  }
  
  