// Primary Colors
$primary-1: #0066cc;
$primary-2: #edf3ff;

// Neutral Colors
$neutral-1: #121212;
$neutral-2: #484848;
$neutral-3: #787878;
$neutral-4: #b3b3b3;
$neutral-5: #dedede;
$neutral-6: #e8e8e8;
$neutral-7: #f4f4f4;

// State Colors
$state-error: #ff6060;
$state-warning: #f1ad00;
$state-information: #1d79ed;
$state-success: #2a9c58;
$state-untested: #979797;
$state-bg: #f8f8f8;
