{
    "arrowParent": "always",
    "endOfLine": "lf",
    "trailingComma": "none",

    "tabWidth": 4,
    "printWith": 120,

    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "useTabs": false,

    "pluginSearchDirs": false
}
